<style>
  li {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: lightsalmon;
  }

  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-zone {
    width: 240px;
    height: calc(100vh - 60px);
    background-color: #3b263f;
    position: relative;
  }

  .tile-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-title,
  .category-title,
  .application-title {
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
  }

  .category-title,
  .application-title {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0 15px;
    width: 100%;
  }

  .category-title:focus,
  .application-title:focus {
    outline: none;
  }

  .menu-hub>.category-title {
    background-color: #3b263f;
  }

  .menu-hub>.category-title:hover {
    background-color: #523558;
  }

  .application-hub,
  .application-hub>.category-title {
    background-color: #5e3448;
  }

  .application-hub>.category-title:hover {
    background-color: #754059;
  }

  .menu-category-name {
    line-height: 60px;
  }

  .menu-collapse {
    position: absolute;
    background-color: #a0a0a0;
    width: 18px;
    height: 36px;
    border-radius: 0 18px 18px 0;
    border: none;
    top: calc(50% - (18px / 2));
    left: 0px;
    cursor: pointer;
    color: #fff;
    padding: 0;
  }

  .menu-collapse:focus {
    outline: none;
  }

  .menu-collapse:hover {
    background-color: #bababa;
  }

  .collapse-zone {
    display: flex;
    align-items: center;
    background-color: #3b263f;
    cursor: pointer;
    height: calc(100vh - 60px);
    color: #fff;
    border: none;
    width: 10px;
    padding: 0;
  }

  .collapse-zone:focus {
    outline: none;
  }

  .is-collapsed {
    display: none;
  }

  .collapse-zone:hover {
    background-color: #523558;
  }

  .hidden {
    display: none;
  }
</style>
<div class="menu-container">
  <div class="menu-zone">
    <ul role="menubar">
      <li class="application-hub">
        <button type="button" class="category-title" id="hubBtn">
          <span class="menu-category-name">[[application-label]]</span>
        </button>
        <ul class="tile-list hub hidden">

        </ul>
      </li>
      <li class="menu-hub">
        <button type="button" class="category-title" id="menuBtn">
          <span class=" menu-category-name">[[menu-label]]</span>
        </button>
        <ul class="menu-list hub">

        </ul>
      </li>
    </ul>
  </div>
  <button type="button" class="collapse-zone" id="menuCollapseBtn">
    <span>
      <</span>
  </button>
</div>