<style>
  select {
    height: 34px;
    width: 134px;
    padding-left: 12px;
    border: 0;
  }

  select:active,
  select:focus {
    outline: none;
  }

  input {
    box-sizing: border-box;
    height: 34px;
    border: 0px;
    padding: 0 12px;
    text-align: center;
    font-size: 1.3rem;
    width: 240px;
    margin-left: 1px;
  }

  input:focus {
    outline: 0;
  }

  button {
    width: 40px;
    height: 34px;
    margin-left: -4px;
    border: 0;
    background-color: #cd90ac;
    cursor: pointer;
  }

  button:hover {
    background-color: #d5a2b9;
  }

  button:active,
  button:focus {
    outline: none;
  }

  .quicksearch-container {
    display: flex;
  }
</style>
<div class="quicksearch-container">
  <select>
    <option>Formula</option>
    <option>RM</option>
    <option>Socle</option>
  </select>
  <input type="text" placeholder="[[search-label]]" />
  <button type="button">
    <fc-icon name="search" size="18"></fc-icon>
  </button>
  <button type="button">
    <fc-icon name="free-search" size="18"></fc-icon>
  </button>
</div>
