<style>
  :host {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  :host(.show) {
    display: block;
  }

  :host(.left) .shutter {
    flex-direction: row-reverse;
  }

  :host-context(.pit) .shutter-header {
    background-color: #263c61;
  }

  .shutter {
    display: flex;
    height: 100vh;
  }

  .shutter-overlay {
    cursor: pointer;
    background-color: rgba(68, 68, 68, 0.5);
    flex-grow: 1;
  }

  .shutter-container {
    width: 33vw;
  }

  .shutter-container.wide {
    width: 66vw;
  }

  .shutter-container.full {
    width: 100vw;
  }

  .shutter-header {
    height: 60px;
    padding: 0 15px;
    background-color: #3b263f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shutter-title {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
  }

  .shutter-title::first-letter {
    text-transform: uppercase;
  }

  .shutter-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    border: 0;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }

  .shutter-close:active {
    outline: none;
  }

  .shutter-content {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
  }
</style>
<div class="shutter">
  <div class="shutter-overlay" id="shutter-overlay"></div>
  <div class="shutter-container" id="shutter-container">
    <div class="shutter-header">
      <h1 class="shutter-title" id="shutter-title">[[default-title-label]]</h1>
      <button type="button" class="shutter-close" id="shutter-close">
        X
      </button>
    </div>
    <div class="shutter-content" id="shutter-content "></div>
  </div>
</div>
